<p style="color: green"><%= notice %></p>

<h1>Cars</h1>

<div id="cars">
  <% @cars.each do |car| %>
    <%= render car %>
    <p>
      <%= link_to "Show this car", car %>
    </p>
  <% end %>

</div>
<%= link_to "New car", new_car_path %>
<br>
<br>
<div data-controller="hello">
  <input data-hello-target="name" type="text">
  <button data-action="click->hello#greet">Greet</button>
</div>
<br>


<div data-controller="toggle" data-toggle-show-class="show">
  <button class="btn" data-action="toggle#show">Toggle</button>
  <div class="hide" data-toggle-target="text">You toggled me!</div>
</div>
<br>

<div data-controller="toggle" data-toggle-hide-class="hide" data-toggle-show-class="show">
  <button class="show" data-action="toggle#switch" data-toggle-target="one">One</button>
  <div>Up and down</div>
  <button class="hide" data-action="toggle#switch" data-toggle-target="two">And two</btn>
</div>

<br>
<div class="box" data-controller="toggle" data-toggle-highlight-class="highlight" data-toggle-target="checkbox">
  <input type="checkbox" data-action="toggle#highlight">
</div>

<br>
<div class="box" data-controller="textwarn" data-textwarn-red-class="red">
  <textarea maxlength="280" type="textarea" data-action="textwarn#warn" data-textwarn-target="text"></textarea>
  <p class="" data-textwarn-target="length">0/280 characters</p>
</div>
